
* {
    scroll-behavior: smooth;
}

body {
    background-color: #fbfbfb;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration-color: #15141a;
    font-size: 1.1rem;
    text-align: center;
}


.main-header {
    margin-top: 80px;
    margin-bottom: 45px;
    color: #363636;
}

p {
    margin: 0px 20% 0 20%;
    padding: 20px;
    color: #6e6e6e;
    font-weight: 500;
}

.text-p {
    text-align: left;
    text-indent: 40px;
    margin: 0px 25% 0 25%;
    background-color: #f1f1f1;
    border-radius: 10px;
}

li {
    list-style-type: none;
}

.log-in {
    background-color: #57828bc9;
    color: #fff;
    padding: 5px;
}

#arrow-down {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 60px;
}

/* image */

.img-container {
    color: white;
    text-align: center;
}

.img-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 60px;
}

.main-img {
    width: 100%;
    margin-top: -60px;
}

/* nav bar list styles*/

nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 1.2rem;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    top: 0;
    position: fixed;
    width: 100%;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

nav h1 {
    margin: 0 auto;
}

/* Links */

.nav-list a {
    margin-right: 45px;
    font-size: 1.1em;
    text-decoration: none;
    transition: 400ms;
    border-bottom: 2px solid transparent;
}

.logo {
    text-decoration: none;
    color: #15141a;
    transition: 300ms;
    border-bottom: 2px solid transparent;
}

a:hover,
.logo:hover{
    border-color: #59868f;
}

a {
    text-decoration: none;
    color: #15141a;
}

a:hover {
    opacity: 0.60;
}


/* footer styles */

footer {
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    margin-top: 100px;
    padding-bottom: 25px;
}

.footer-line {
    padding-top: 100px;
    margin: 150px 10% 0px 10%;
    border-top: 2px dashed #8c8c8f;
}

.social {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.social li {
    width: 40px;
}

